.version {
  border-bottom: 1px solid #eceeef;
  margin-bottom: 1em;
  background-color: #eceeef;
  padding: .5em 1em;

  dt {
    font-weight: 600;
  }

  dd {
    -webkit-margin-start: 0;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  &__footer {
    border-top: 1px solid #999;
    margin-top: 2em;
    padding-top: .2em;
  }
}

