<div class="lOnly">
    <f:if condition="{avatarUrl}">
        <img class="package__avatar img-responsive" src="{avatarUrl}" alt="{vendorName}">
    </f:if>
    <section class="market-nav"
             data-component="ShowMore"
             data-selector="ul">
        <header>
            <h4>Maintainers</h4>
        </header>
        {maintainers -> f:format.raw()}
    </section>
</div>

<div class="g">
    <div class="gi u-w1/2 u-wm1/1 u-wl1/1">
        <section class="market-nav"
                 data-component="ShowMore"
                 data-selector="ul">
            <header>
                <h4>Released Versions</h4>
            </header>
            <f:if condition="{hasReleasedVersion}">
                <f:then>
                    {releasedVersionMenu -> f:format.raw()}
                </f:then>
                <f:else>
                    <strong>No release version yet&nbsp;...</strong>
                </f:else>
            </f:if>
        </section>
    </div>
    <div class="gi u-w1/2 u-wm1/1 u-wl1/1">
        <f:if condition="{hasPrereleasedVersion}">
            <section class="market-nav"
                     data-component="ShowMore"
                     data-selector="ul">
                <header>
                    <h4>Prereleased Versions</h4>
                </header>
                {prereleasedVersionMenu -> f:format.raw()}
            </section>
        </f:if>
    </div>
    <div class="gi u-w1/2 u-wm1/1 u-wl1/1">
        <section class="market-nav"
                 data-component="ShowMore"
                 data-selector="ul">
            <header>
                <h4>Development Versions</h4>
            </header>
            <f:if condition="{hasDevelopmentVersion}">
                <f:then>
                    {developmentVersionMenu -> f:format.raw()}
                </f:then>
                <f:else>
                    <strong>No development version&nbsp;...</strong>
                </f:else>
            </f:if>
        </section>
    </div>
</div>
