@viewport {
  width: device-width; }

.market-block {
  margin-bottom: 1em; }

.market-code {
  display: block;
  margin-bottom: 1em; }

.metrics {
  display: inline-block;
  margin: 0;
  padding: 0; }
  .metrics__item {
    list-style: none;
    display: inline-block;
    margin-left: .5em; }
    .metrics__item:first-child {
      margin-left: 0; }

.market-nav {
  margin-bottom: 1em; }
  .market-nav ul {
    overflow: hidden; }

.package__meta {
  margin-bottom: 1em;
  font-size: 0.85em; }

.package__avatar {
  padding-bottom: 1.5em;
  width: 70%;
  display: block;
  margin: 0 auto;
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%); }

.paginator {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center; }
  .paginator > li {
    list-style: none;
    align-items: center;
    margin: 0 1em; }
  .paginator__current {
    background-color: #bbbbbb;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 0.3em .6em; }

.readme {
  background-color: whitesmoke;
  border: 1px solid #CCC;
  padding: 1em;
  margin-bottom: 2em; }
  .readme__notice {
    border-top: 1px dotted #999;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 13px;
    color: #888; }
  .readme__wrapper {
    overflow: hidden; }
  .readme .octicon-link {
    display: none; }
  .readme h1 {
    font-size: 1.8em;
    font-weight: 600; }
  .readme h2 {
    font-size: 1.5em;
    font-weight: 600; }
  .readme h3 {
    font-size: 1.35em;
    font-weight: 400; }
  .readme h4, .readme h5, .readme h6 {
    font-size: 1.2em;
    font-weight: 400; }
  .readme pre, .readme code {
    background-color: #979797;
    color: white; }
  .readme pre {
    padding: 1em; }
  .readme .task-list {
    margin: 0;
    padding: 0; }
  .readme .task-list-item {
    list-style: none; }

.result-list__item {
  border-bottom: 1px solid #eceeef;
  padding-bottom: .3em;
  margin-bottom: .3em;
  font-size: 0.85em; }

.result-list__title {
  margin-bottom: 4px; }

.result-list__meta {
  display: block;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
  color: #888; }

.search-form {
  position: relative;
  margin-bottom: 1em; }
  .search-form__label, .search-form__input {
    padding: .5em 1em;
    line-height: inherit; }
  .search-form__label {
    position: absolute;
    display: inline-block;
    font-size: 1.05em; }
  .search-form__input {
    box-sizing: border-box;
    display: block;
    width: calc(100% - 86px);
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
    outline: none; }

.search-results {
  padding: 0; }
  .search-results > li {
    list-style: none; }
  .search-results__metrics {
    text-align: center;
    margin-bottom: 1em;
    font-size: .85em;
    color: #888; }

.show-more {
  height: 100%; }
  .show-more__target {
    transition: 1s;
    height: auto; }
  .show-more__button {
    color: #0097d7;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #c9c3c3;
    padding: .5em 1em;
    display: block;
    width: 100%;
    outline: none; }

.market-tagline {
  padding: 0;
  margin: 0;
  display: inline-block; }
  .market-tagline > li {
    list-style: none;
    display: inline-block;
    margin-right: .3em; }

.version {
  border-bottom: 1px solid #eceeef;
  margin-bottom: 1em;
  background-color: #eceeef;
  padding: .5em 1em; }
  .version dt {
    font-weight: 600; }
  .version dd {
    -webkit-margin-start: 0; }
  .version ul {
    padding: 0;
    margin: 0; }
  .version li {
    list-style: none; }
