@viewport {
  width: device-width; }

.market-block {
  margin-bottom: 1em; }

.market-code {
  display: block;
  margin-bottom: 1em; }

.market-nav {
  margin-bottom: 1em; }
  .market-nav ul {
    overflow: hidden; }

.package__version {
  display: none;
  opacity: 0;
  border-bottom: 1px solid #eceeef;
  margin-bottom: 1em;
  background-color: #eceeef;
  padding: .5em 1em; }

.package__version:target {
  display: block;
  opacity: 1; }

.package__version dt {
  font-weight: 600; }

.package__version dd {
  -webkit-margin-start: 0; }

.package__version ul {
  padding: 0;
  margin: 0; }

.package__version li {
  list-style: none; }

.package__avatar {
  padding-bottom: 1.5em;
  width: 70%;
  display: block;
  margin: 0 auto;
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%); }

.typo3-widget-paginator {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center; }

.typo3-widget-paginator > li {
  list-style: none;
  align-items: center;
  margin: 0 1em; }

.result-list__item {
  border-bottom: 1px solid #eceeef;
  padding-bottom: .3em;
  margin-bottom: .3em;
  font-size: 0.85em; }

.result-list__title {
  margin-bottom: 4px; }

.result-list__meta {
  display: block;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
  color: #888; }

.result-list__metrics {
  margin: 0;
  padding: 0; }

.result-list__metric {
  list-style: none;
  display: inline-block;
  margin-left: .5em; }

.search-form {
  position: relative;
  margin-bottom: 1em; }
  .search-form__label, .search-form__input {
    padding: .5em 1em;
    line-height: inherit; }
  .search-form__label {
    position: absolute;
    display: inline-block;
    font-size: 1.05em; }
  .search-form__input {
    box-sizing: border-box;
    display: block;
    width: calc(100% - 86px);
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
    outline: none; }

.search-results {
  padding: 0; }
  .search-results > li {
    list-style: none; }

.show-more__target {
  max-height: 999px;
  transition: 1s; }

.show-more__button {
  color: #0097d7;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #c9c3c3;
  padding: .5em 1em;
  display: block;
  width: 100%;
  outline: none; }

.market-tagline {
  padding: 0;
  margin: 0;
  display: inline-block; }
  .market-tagline > li {
    list-style: none;
    display: inline-block;
    margin-right: .3em; }
