{namespace ts=TYPO3\TypoScript\ViewHelpers}
<!DOCTYPE html>
<html lang="en">
	<body>
		<f:section name="body">
			<div class="top-navigation-wrap">
				<div class="container">
					{parts.languageMenu -> f:format.raw()}
					{parts.mainMenu -> f:format.raw()}
				</div>
			</div>

			<div class="container">
				{parts.breadcrumb -> f:format.raw()}
				<div class="container">
					{search -> f:format.raw()}
					<hr>
				</div>
				<div class="container">
					{package -> f:format.raw()}
				</div>
			</div>

			<footer role="navigation" class="navbar navbar-default">
				<div class="panel panel-default">
					<div class="panel-footer">
						<div class="container">
							{footer -> f:format.raw()}
						</div>
					</div>
				</div>
			</footer>
		</f:section>
	</body>
</html>
