{namespace marketplace=Neos\MarketPlace\ViewHelpers}

<article{attributes -> f:format.raw()}>
<header>
    <h1>{packageName}</h1>
</header>
<f:if condition="{isAbandoned}">
    <p>This package is abandoned and no longer maintained. The author suggests using the <strong>{abandoned}</strong> package instead.</p>
    <hr>
</f:if>
<code class="market-code">
    <i class="fa fa-download"></i> composer require {packageName}
</code>
<f:if condition="{description}">
    <p><strong>{description}</strong></p>
</f:if>
{main -> f:format.raw()}
<div class="package__meta">
    <i class="fa fa-clock-o"></i> {lastActivity -> marketplace:format.relativeDate()} - {metrics -> f:format.raw()}
</div>

{versions -> f:format.raw()}

{readme -> f:format.raw()}

<f:if condition="{hasPackageCount}">
    <a href="{vendorUri}" class="btn btn-primary" type="button">
        The same vendor provide <span class="badge">{packageCount}</span> package(s)
    </a>
</f:if>
</article>
