<article{attributes -> f:format.raw()}>
<a href="{vendorUri}" class="btn btn-primary pull-right" type="button">
    The same vendor provide <span class="badge">{packageCount}</span> package(s)
</a>
<header>
    <h1>{packageName}</h1>
</header>
<f:if condition="{isAbandoned}">
    <p>This package is abandoned and no longer maintained. The author suggests using the <strong>{abandoned}</strong> package instead.</p>
    <hr>
</f:if>

<f:if condition="{description}">
    <p><strong>{description}</strong></p>
</f:if>
{main -> f:format.raw()}
<hr>
<div class="row">
    <div class="col-sm-9">
        {versions -> f:format.raw()}
    </div>
    <div class="col-sm-3">
        <h4>Maintainers</h4>
        {maintainerMenu -> f:format.raw()}
        <hr>

        <h4>Released Versions</h4>
        <f:if condition="{hasReleasedVersion}">
            <f:then>
                {releasedVersionMenu -> f:format.raw()}
            </f:then>
            <f:else>
                <strong>No release version yet ...</strong>
            </f:else>
        </f:if>

        <hr>

        <h4>Development Versions</h4>
        <f:if condition="{hasDevelopmentVersion}">
            <f:then>
                {developmentVersionMenu -> f:format.raw()}
            </f:then>
            <f:else>
                <strong>No development version ...</strong>
            </f:else>
        </f:if>

        <hr>
    </div>
</div>
</article>
