{namespace ts=TYPO3\TypoScript\ViewHelpers}
<article{attributes -> f:format.raw()}>
<header>
    <h1>{packageName}</h1>
</header>
<f:if condition="{isAbandoned}">
    <p>This package is abandoned and no longer maintained. The author suggests using the <strong>{abandoned}</strong> package instead.</p>
    <hr>
</f:if>
<code class="market-code">
    <i class="fa fa-download"></i> composer require {packageName}
</code>
<f:if condition="{description}">
    <p><strong>{description}</strong></p>
</f:if>
{main -> f:format.raw()}
<p><strong>Last activity:</strong> {lastActivity -> f:format.date(localeFormatType: "dateTime", localeFormatLength: "medium", forceLocale: true)}</p>

<f:if condition="{hasReadme}">
    <article class="readme">
        <ts:render path="readme" />
        <footer>
            <div class="readme__notice">The content of the readme is provided by <i class="fa fa-github"></i>
                <a href="https://github.com/"></a>Github</div>
        </footer>
    </article>
</f:if>

{versions -> f:format.raw()}

<f:if condition="{hasPackageCount}">
    <a href="{vendorUri}" class="btn btn-primary" type="button">
        The same vendor provide <span class="badge">{packageCount}</span> package(s)
    </a>
</f:if>
</article>
