.pm-search ol {
    padding: 0;
    margin: 0;
}

.pm-code {
    display: block;
    margin-bottom: 1em;
}

.pm-search li {
    list-style: none;
}

.pm-tagline {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.pm-tagline li {
    list-style: none;
    display: inline-block;
    margin-right: .3em;
}

.pm-nav-section {
    margin-bottom: 1em;
}

.pm-avatar {
    padding-bottom: 1.5em;
    width: 70%;
    display: block;
    margin: 0 auto;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
}

.result-list-item {
    border-bottom: 1px solid #eceeef;
    padding-bottom: .3em;
    margin-bottom: .3em;
    font-size: 0.85em;
}

.result-list-title {
    margin-bottom: 4px;
}

.result-list-meta {
    display: block;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 13px;
    color: #888;
}

.pm-version {
    display: none;
    opacity: 0;
    border-bottom: 1px solid #eceeef;
    margin-bottom: 1em;
    background-color: #eceeef;
    padding: .5em 1em;
}
.pm-version:target {
    display: block;
    opacity: 1;
}
.pm-version dt {
    font-weight: 600;
}
.pm-version dd {
    -webkit-margin-start: 0;
}
.pm-version ul {
    padding: 0;
    margin: 0;
}
.pm-version li {
    list-style: none;
}

.pm-form {
    display: flex;
}

.pm-form-input,
.pm-form-submit {
    display: inline-block;
    border: 1px solid #999;
    box-sizing: border-box;
}

.pm-form-input {
    display: inline-block;
    flex: 1;
    padding: .5em 1em;
    font-size: 16px;
    height: 40px;
}

.pm-form-submit {
    width: 80px;
    margin-left: -1px;
}

.pm-search-results {
    padding: 0;
}

.pm-search-results > li {
    list-style: none;
}

.pm-block {
    margin-bottom: 1em;
}

.typo3-widget-paginator {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.typo3-widget-paginator > li {
    list-style: none;
    align-items: center;
    margin: 0 1em;
}

.result-list-metrics {
    margin: 0;
    padding: 0;
}

.result-list-metrics__item {
    list-style: none;
    display: inline-block;
    margin-left: .5em;
}
